* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
body {
  height: 100vh;
}
body > .wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  height: 100%;
  background: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2vw;
  color: #333;
}
body > .wrapper > * {
  flex: 1 100%;
}

body > .wrapper > header {
  background-color: #f1f1f1;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-image: linear-gradient(to bottom, #c0bdbd, #f1f1f1);
}
body > .wrapper > header > h1 {
  font-size: 3vw;
  font-weight: 700;
}
body > .wrapper > main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
body > .wrapper > main > form {
  margin: 2vw 0;
  padding: 20px;
  border-radius: 5px;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(160, 238, 201);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
body > .wrapper > main > form label {
  padding: 0px 50px;
  width: 100%;
}
body > .wrapper > main > form optionset {
  display: flex;
  padding: 5px;
  font-size: 1.5vw;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body > .wrapper > main > form .option {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  justify-content: space-evenly;
}
body > .wrapper > main > form .text {
  font-size: 2vw;
  padding: 7px;
  margin: 5px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

body > .wrapper > main > form button {
  margin: 25px;
  font-size: 1vw;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  align-self: center;
  transition: all 0.3s ease-in-out;
}

body > .wrapper > main > form button:hover {
  background-color: #575252;
  color: #cca;
  box-shadow: 0px 0px 15px #cca;
}
body > .wrapper > main > form > buttonList {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 80%;
}
body > .wrapper > footer {
  align-self: flex-end;
  float: bottom;
  background-image: linear-gradient(to bottom, #f1f1f1, #b1b0b0);
  color: rgb(75, 75, 75);
  text-align: center;
  padding: 10px;
}

@media all and (max-width: 800px) {
  body > .wrapper > header > h1 {
    font-size: 6vw;
  }
  body > .wrapper > main {
    flex: 3;
  }
  body > .wrapper > main > form > input {
    font-size: 3vw;
  }
  body > .wrapper > main > form > button {
    font-size: 2vw;
  }
  body > .wrapper > main > form > label {
    font-size: 3vw;
  }
}
@media all and (max-height: 400px) {
  body > .wrapper {
    overflow-y: visible;
  }
}
